<form (ngSubmit)="submit_form_data()" #form1="ngForm"  class="modal-content">
  <div class="container">
            <h1>Login Up</h1>
                
                  <p>Please fill  this form to log into account.</p>
                  <hr>
      <label>Email Id</label><br>
        <input type="text" [(ngModel)]="email_id" name="email_id" #email_id_ref="ngModel" required placeholder="Enter Email Id">
        <span *ngIf="email_id_ref.invalid && email_id_ref.dirty">
            <span *ngIf="email_id_ref.errors.required" class="error"> Should not be empty</span>
        </span><br><br>
    
        <label>Password</label><br>
        <input type="password" [(ngModel)]="pass_word" name="pass_word" #pass_word_ref="ngModel" required placeholder="Enter Password">
        <span *ngIf="pass_word_ref.invalid && pass_word_ref.dirty">
          <span *ngIf="pass_word_ref.errors.required" class="error"> Should not be empty</span>
        </span><br><br>
        <div class="clearfix">
            <button [disabled]="!form1.form.valid" class="signupbtn" >Login</button>
            <button type="button"  class="cancelbtn" routerLink="/homepage" routerLinkActive="active"  >Cancel</button>
     
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        
   
    <div>
      <h3 class="error">{{error_message}}</h3>
    </div>
  
</div>
</form>