<h1>Welcome to Learning</h1>
  <h3>Learn how real apps are built, from scratch, using the latest frameworks</h3>
  
  <div class="gallery">
      <a target="_blank" href="nodejs.png">
        <img src="./assets/nodejs.png" alt="nodejs" width="100" height="100">
      </a>
      <div class="desc">Build Full stack web app using javascript on the frontend and backend</div>
  </div>
    <div class="gallery">
      <a target="_blank" href="meanstack.jpg">
        <img src="./assets/meanstack.jpg" alt="meanstack" width="100" height="100">
      </a>
    <div class="desc">Build app using Mongodb,Express,Angular,Node</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="typescript.png">
      <img src="./assets/typescript.png" alt="typescript" width="100" height="100">
    </a>
    <div class="desc">Add the benefits of strong typing & more to javascript</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="angular.png">
      <img src="./assets/angular.png" alt="angular" width="100" height="100">
    </a>
    <div class="desc">Build Modern universal web and mobile application</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="python.png">
      <img src="./assets/python.png" alt="python" width="100" height="100">
    </a>
    <div class="desc">Learn Python,the language of ML,AI and web</div>
  </div>
  <div class="gallery">
        <a target="_blank" href="angularjs.png">
          <img src="./assets/angularjs.png" alt="angularjs" width="100" height="100">
        </a>
        <div class="desc">Learn how to build fully-fleged single page web apps</div>
  </div>
 
